* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Bai Jamjuree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
}

a {
  transition: 0.5s ease;
}

a:focus,
a:focus-visible {
  outline: none;
  box-shadow: none;
}

a,
a:hover {
  text-decoration: none;

}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@keyframes marqueeanimation {
  0% {
    transform: translateZ(0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}


@keyframes stonerotate {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  100% {
    transform: translateY(110%) rotate(360deg);
  }
}